body {
  margin: 0;
  font-family: "Courier-New";
    padding:0;
    background: linear-gradient(to right, rgb(81, 97, 81), rgb(255, 0, 0));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button
{
	cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
